In [48]:
import pandas as pd

In [49]:
import numpy as np

In [50]:
from bs4 import BeautifulSoup

In [51]:
import requests

In [52]:
import re

In [53]:
url="https://www.flipkart.com/search?q=mobile%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
page=requests.get(url)
page

In [54]:
brand=[]
color=[]
storage=[]
Rating=[]
ram=[]
screensize=[]
battery=[]
price=[]
for i in range(1,25):
    url=f"https://www.flipkart.com/search?q=mobile+5g&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_6_na_na_na&as-pos=2&as-type=HISTORY&suggestionId=mobile+5g%7CMobiles&requestId=b3052f9d-8d4d-49b0-9fa7-b2106de9fc61&page={i}"
    page=requests.get(url)
    soup=BeautifulSoup(page.text)
    
    for i in soup.find_all("div",class_="_4rR01T"):
        text=i.text
        regex=re.findall("^[A-Za-z]+",text)
        if regex:
            brand.append(regex[0])
        else:
            brand.append(np.nan)
        
    for i in soup.find_all("div",class_="_4rR01T"):
        text=i.text
        regex=re.findall("\((\w+\s?\w+),",text)
        if regex:
            color.append(regex[0])
        else:
            color.append(np.nan)
        
    for i in soup.find_all("div",class_="_4rR01T"):
        text=i.text
        regex=re.findall(",\s(\d+)\sGB",text)
        if regex:
            storage.append(regex[0])
        else:
            storage.append(np.nan)
        
    for i in soup.find_all("div",class_="_2kHMtA"):
        rate=i.find("div",class_="_3LWZlK")
        if rate:
            Rating.append(rate.text)
        else:
            Rating.append(np.nan)
        
    for i in soup.find_all("div",class_="_2kHMtA"):
        text=(i.text)
        regex=re.findall("(\d+)\sGB\sRAM",text)
        if regex:
            ram.append(regex[0])
        else:
            ram.append(np.nan)
        
    for i in soup.find_all("div",class_="_2kHMtA"):
        text=(i.text)
        regex=re.findall("\((\d+\.\d+)\sinch",text)
        if regex:
            screensize.append(regex[0])
        else:
            screensize.append(np.nan)
        
    for i in soup.find_all("div",class_="_2kHMtA"):
        text=(i.text)
        regex=re.findall("(\d+)\smAh",text)
        if regex:
            battery.append(regex[0])
        else:
            battery.append(np.nan)
        
    for i in soup.find_all("div",class_="_2kHMtA"):
        p=i.find("div",class_="_30jeq3 _1_WHN1")
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)

In [55]:
dic={"Brand":brand,"Color":color,"Storage":storage,"Rating":Rating,"Ram":ram,"Screensize":screensize,"Battery":battery,"Price":price}

In [56]:
phones=pd.DataFrame(dic)

In [57]:
phones.to_csv("phones_uncleaned_data.csv")

In [58]:
df=pd.read_csv("phones_uncleaned_data.csv")

In [59]:
df

,Unnamed: 0,Brand,Color,Storage,Rating,Ram,Screensize,Battery,Price
0,0,realme,Submarine Blue,256.0,NaN,8.0,6.70,5000.0,"₹26,999"
1,1,realme,Navigator Beige,256.0,NaN,12.0,6.70,5000.0,"₹33,999"
2,2,Motorola,Charcoal Black,128.0,4.2,8.0,6.50,5000.0,"₹11,999"
3,3,Motorola,Ocean Green,128.0,4.2,8.0,6.50,5000.0,"₹11,999"
4,4,vivo,Aurora Gold,128.0,4.3,8.0,6.58,5000.0,"₹14,999"
...,...,...,...,...,...,...,...,...,...
571,571,REDMI,Meadow Green,128.0,4.2,6.0,6.58,5000.0,"₹13,870"
572,572,Apple,Green,512.0,4.6,NaN,6.10,NaN,"₹1,02,999"
573,573,Apple,Pacific Blue,128.0,4.5,NaN,6.10,NaN,"₹1,09,900"
574,574,SAMSUNG,Copper Blush,128.0,4.3,6.0,6.60,5000.0,"₹18,499"
575,575,Tecno,Silver Fantasy,256.0,4.4,8.0,6.78,5000.0,"₹16,949"

In [60]:
df.drop("Unnamed: 0",axis=1, inplace=True)

In [61]:
df

,Brand,Color,Storage,Rating,Ram,Screensize,Battery,Price
0,realme,Submarine Blue,256.0,NaN,8.0,6.70,5000.0,"₹26,999"
1,realme,Navigator Beige,256.0,NaN,12.0,6.70,5000.0,"₹33,999"
2,Motorola,Charcoal Black,128.0,4.2,8.0,6.50,5000.0,"₹11,999"
3,Motorola,Ocean Green,128.0,4.2,8.0,6.50,5000.0,"₹11,999"
4,vivo,Aurora Gold,128.0,4.3,8.0,6.58,5000.0,"₹14,999"
...,...,...,...,...,...,...,...,...
571,REDMI,Meadow Green,128.0,4.2,6.0,6.58,5000.0,"₹13,870"
572,Apple,Green,512.0,4.6,NaN,6.10,NaN,"₹1,02,999"
573,Apple,Pacific Blue,128.0,4.5,NaN,6.10,NaN,"₹1,09,900"
574,SAMSUNG,Copper Blush,128.0,4.3,6.0,6.60,5000.0,"₹18,499"
575,Tecno,Silver Fantasy,256.0,4.4,8.0,6.78,5000.0,"₹16,949"

In [62]:
df.shape

(576, 8)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       576 non-null    object
 1   Color       568 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      520 non-null    float64
 4   Ram         503 non-null    float64
 5   Screensize  575 non-null    float64
 6   Battery     504 non-null    float64
 7   Price       576 non-null    object
dtypes: float64(5), object(3)
memory usage: 36.1+ KB

In [64]:
df["Price"]=df["Price"].replace("[^\d]","",regex=True).astype("int")

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       576 non-null    object
 1   Color       568 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      520 non-null    float64
 4   Ram         503 non-null    float64
 5   Screensize  575 non-null    float64
 6   Battery     504 non-null    float64
 7   Price       576 non-null    int32
dtypes: float64(5), int32(1), object(2)
memory usage: 33.9+ KB

In [66]:
df["Storage"].value_counts()

Storage
128.0    285
256.0    232
512.0     34
64.0      15
Name: count, dtype: int64

In [67]:
df=df[df["Storage"]>=32.0]

In [68]:
df["Storage"]=df["Storage"].dropna()

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\1065129449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Storage"]=df["Storage"].dropna()

In [69]:
df["Storage"].astype("int",errors="ignore")

0      256
1      256
2      128
3      128
4      128
      ...
571    128
572    512
573    128
574    128
575    256
Name: Storage, Length: 566, dtype: int32

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       559 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      510 non-null    float64
 4   Ram         503 non-null    float64
 5   Screensize  565 non-null    float64
 6   Battery     503 non-null    float64
 7   Price       566 non-null    int32
dtypes: float64(5), int32(1), object(2)
memory usage: 37.6+ KB

In [71]:
df["Ram"].value_counts()

Ram
8.0     277
12.0     95
6.0      74
4.0      47
16.0     10
Name: count, dtype: int64

In [72]:
df["Ram"]=df["Ram"].fillna(df["Ram"].mode()[0]).astype("int")

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\2037801225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Ram"]=df["Ram"].fillna(df["Ram"].mode()[0]).astype("int")

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       559 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      510 non-null    float64
 4   Ram         566 non-null    int32
 5   Screensize  565 non-null    float64
 6   Battery     503 non-null    float64
 7   Price       566 non-null    int32
dtypes: float64(4), int32(2), object(2)
memory usage: 35.4+ KB

In [74]:
df["Battery"].value_counts()

Battery
5000.0    342
6000.0     39
4500.0     36
4600.0     26
5100.0     10
3700.0      7
4400.0      6
4575.0      4
4926.0      3
4800.0      3
4270.0      3
4300.0      3
4980.0      3
3300.0      3
4700.0      3
5050.0      3
4900.0      2
4000.0      2
3900.0      2
5400.0      1
4610.0      1
5160.0      1
Name: count, dtype: int64

In [75]:
df[df["Battery"].isna()]

     Brand         Color  Storage  Rating  Ram  Screensize  Battery   Price
15   Apple          Blue    128.0     4.6    8         6.1      NaN   72999
18   Apple      Midnight    128.0     4.6    8         6.1      NaN   58999
21   Apple     Starlight    128.0     4.6    8         6.1      NaN   58999
69   Apple         Black    128.0     4.6    8         6.1      NaN   72999
71   Apple          Pink    128.0     4.6    8         6.1      NaN   72999
..     ...           ...      ...     ...  ...         ...      ...     ...
554  Apple     Starlight    512.0     4.6    8         6.1      NaN   88999
559  Apple        Yellow    512.0     4.6    8         6.1      NaN  102999
567  Apple      Midnight    512.0     4.6    8         6.1      NaN   88999
572  Apple         Green    512.0     4.6    8         6.1      NaN  102999
573  Apple  Pacific Blue    128.0     4.5    8         6.1      NaN  109900

[63 rows x 8 columns]

In [76]:
df["Battery"]=df["Battery"].fillna(df["Battery"].mode()[0]).astype("int")

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\2065319500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Battery"]=df["Battery"].fillna(df["Battery"].mode()[0]).astype("int")

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       559 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      510 non-null    float64
 4   Ram         566 non-null    int32
 5   Screensize  565 non-null    float64
 6   Battery     566 non-null    int32
 7   Price       566 non-null    int32
dtypes: float64(3), int32(3), object(2)
memory usage: 33.2+ KB

In [78]:
df[df["Rating"].isna()]

      Brand            Color  Storage  Rating  Ram  Screensize  Battery  Price
0    realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
1    realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
25   realme  Navigator Beige    256.0     NaN    8         6.7     5000  26999
26   realme   Submarine Blue    128.0     NaN    8         6.7     5000  25999
27   realme  Navigator Beige    128.0     NaN    8         6.7     5000  25999
38   realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
45   realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
47   realme   Submarine Blue    256.0     NaN   12         6.7     5000  33999
50   realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
51   realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
56   realme  Navigator Beige    256.0     NaN    8         6.7     5000  26999
57   realme  Navigator Beige    128.0     NaN    8         6.7     5000  25999
58   realme   Submarine Blue    128.0     NaN    8         6.7     5000  25999
75   realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
76   realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
87   realme   Submarine Blue    256.0     NaN   12         6.7     5000  33999
96   realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
97   realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
120  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
121  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
146  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
147  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
170  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
171  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
196  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
197  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
216  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
217  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
240  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
241  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
266  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
267  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
290  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
291  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
316  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
317  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
336  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
337  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
360  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
361  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
386  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
387  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
410  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
411  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
436  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
437  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
456  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
457  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
480  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
481  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
506  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
507  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
530  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
531  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999
556  realme   Submarine Blue    256.0     NaN    8         6.7     5000  26999
557  realme  Navigator Beige    256.0     NaN   12         6.7     5000  33999

In [79]:
df["Rating"]=df["Rating"].fillna(df["Rating"].mode()[0])

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\2239368063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rating"]=df["Rating"].fillna(df["Rating"].mode()[0])

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       559 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      566 non-null    float64
 4   Ram         566 non-null    int32
 5   Screensize  565 non-null    float64
 6   Battery     566 non-null    int32
 7   Price       566 non-null    int32
dtypes: float64(3), int32(3), object(2)
memory usage: 33.2+ KB

In [81]:
df[df["Color"].isna()]

       Brand Color  Storage  Rating  Ram  Screensize  Battery  Price
115  SAMSUNG   NaN    128.0     4.2    6        6.60     6000  13490
122  SAMSUNG   NaN    128.0     4.2    4        6.60     6000  11990
187     IQOO   NaN    128.0     4.3    6        6.38     4500  15899
206     IQOO   NaN    128.0     4.3    6        6.38     4500  15899
259   realme   NaN    128.0     4.3    8        6.43     5000  16375
459    Apple   NaN    512.0     4.6    8        6.10     5000  88999
545   realme   NaN    128.0     4.3    8        6.70     5000  22490

In [82]:
df["Color"].unique()

array(['Submarine Blue', 'Navigator Beige', 'Charcoal Black',
       'Ocean Green', 'Aurora Gold', 'Glimmer Black', 'Marine Blue',
       'Ice Blue', 'Blue', 'Pearl Blue', 'Midnight Blue', 'Midnight',
       'Caneel Bay', 'Starlight', 'Soothing Sea', 'Mint Green',
       'Nitro Blaze', 'Velocity Wave', 'Supernova Green', 'Blue Tide',
       'Orion Blue', 'Icy Silver', 'Dune Gold', 'Midnight Black',
       'Snowstorm White', 'Purple Dawn', 'Magic Black', 'Forest Green',
       'Mirror Black', 'Interstellar Blue', 'Sunset Gold',
       'Galactic Black', 'Viva Magenta', 'Black', 'Yellow', 'Pink',
       'Moonstone silver', 'Glory Gold', 'Spectre Black', 'Rock Grey',
       'Wave Green', 'Racing Grey', 'Power Black', 'Glory Black',
       'Nebula Green', 'Peach Fuzz', 'Glacier Blue', 'OMG Black',
       'Chromatic Gray', nan, 'Coral Purple', 'Jade Black', 'Smoky Teal',
       'Stardust Silver', 'Fusion Black', 'Black Dusk', 'Starlight Black',
       'Fantasy Purple', 'Startrail Silver', 'Aurora Blue',
       'Startrail Green', 'Miami Orange', 'Green', 'Knight Black',
       'Arctic White', 'Stealth Black', 'Pearl White', 'White',
       'Prism Silver', 'Golden Hour', 'Rome Green', 'Red', 'Aqua Surge',
       'Nebula Purple', 'Berry Blue', 'ICY Silver', 'Stellar Green',
       'Mystic Green', 'Sunny Oasis', 'Dark Purple', 'Titanium Gray',
       'Pacific Night', 'Fusion White', 'Sunrise Gold', 'Graphite',
       'Sonic Black', 'Galactic Silver', 'Cream', 'Blue Lagoon',
       'Prism Gold', 'Olive', 'Coral', 'Sea', 'Snow', 'Lavender',
       'Sunrise Beige', 'Silvery Grey', 'Artistic Blue', 'Navy',
       'Silk Gold', 'Starry Black', 'Artistic Red', 'Norway Blue',
       'Asteroid Black', 'Tempest Gray', 'Misty Green', 'Cool Black',
       'Mars Orange', 'Mint', 'Stargaze Blue', 'Pastel Lime', 'Dark Red',
       'Titanium Black', 'Frosted Green', 'Electric Black',
       'Phantom White', 'Moonstone Silver', 'Amber Yellow', 'Lemongrass',
       'Obsidian', 'Phantom Black', 'Cobalt Violet', 'Jungle Green',
       'Awesome Violet', 'Orchid Violet', 'Lunar Blue',
       'Natural Titanium', 'Desert Gold', 'Noble Black', 'Bold Gold',
       'So Pink', 'Hazel', 'Waterfall Blue', 'Rose', 'Wildcat Blue',
       'Oasis Green', 'Graphite Matte', 'Astral Black', 'Mirage Silver',
       'White Titanium', 'Onyx Black', 'Cyber Black', 'Awesome Graphite',
       'Glowing Blue', 'Glowing Black', 'Bahama Blue', 'Icy Blue',
       'Bora Purple', 'Awesome Silver', 'Glass Green', 'Blue Titanium',
       'Purple', 'Light Green', 'Awesome Lime', 'Glass Blue', 'Bay',
       'Radiant Pearl', 'Sierra Black', 'Blue Black', 'Light Blue',
       'Glossy Purple', 'Glowing Green', 'Dark Illusion', 'Magic Blue',
       'Silver Fantasy', 'Emerald Forest', 'Space Blue', 'Crystal Purple',
       'Glitter Aqua', 'Mystique Blue', 'Galaxy Blue', 'Matte Black',
       'Jaguar Black', 'Night Black', 'Pastel Blue', 'Electric Blue',
       'Obsidian Black', 'Black Titanium', 'Glass Lavender',
       'Iceberg Blue', 'Blaster Green', 'Starlight White',
       'Fearless Flame', 'Mystery Black', 'Glass Black',
       'Submariner Black', 'Gold', 'Carbon Black', 'Cosmic Black',
       'Marshmallow Blue', 'Aquamarine Blue', 'Stardust White', 'Silver',
       'Orange', 'Dashing Blue', 'Dark Strom', 'Awesome Black',
       'Glass Viridian', 'Dawnlight Gold', 'Titan Black',
       'Orange Shimmer', 'Eternal Green', 'Copper Blush', 'Mystic Night',
       'Mars orange', 'Pink Gold', 'Interstellar Black', 'Metal Black',
       'Pacific Blue', 'Stardust Grey', 'Pearly White', 'Stardust Purple',
       'Titanium Violet', 'Meadow Green'], dtype=object)

In [83]:
df["Color"].nunique()

213

In [84]:
df["Color"]=df["Color"].fillna(df["Color"].mode()[0])

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\4015659164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Color"]=df["Color"].fillna(df["Color"].mode()[0])

In [85]:
color=[]
for i in df["Color"]:
    color.append(i.split(" ")[-1])
df["Color"]=color

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\3973007798.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Color"]=color

In [86]:
df[df["Color"].isna()]

Empty DataFrame
Columns: [Brand, Color, Storage, Rating, Ram, Screensize, Battery, Price]
Index: []

In [87]:
df["Color"]

0         Blue
1        Beige
2        Black
3        Green
4         Gold
        ...
571      Green
572      Green
573       Blue
574      Blush
575    Fantasy
Name: Color, Length: 566, dtype: object

In [88]:
for i in df["Color"]:
    print(i)

Blue
Beige
Black
Green
Gold
Black
Blue
Blue
Black
Blue
Gold
Black
Gold
Green
Blue
Blue
Blue
Blue
Midnight
Black
Bay
Starlight
Sea
Green
Blue
Beige
Blue
Beige
Black
Blaze
Black
Wave
Bay
Wave
Green
Sea
Green
Blaze
Blue
Tide
Green
Blue
Blue
Silver
Gold
Beige
Blue
Blue
Black
White
Blue
Beige
Black
Dawn
Black
Black
Beige
Beige
Blue
Green
Black
Blue
Gold
Blue
Dawn
Blaze
Black
Wave
Magenta
Black
Yellow
Pink
silver
Tide
Gold
Blue
Beige
Silver
Black
Blaze
Green
Grey
Green
Grey
Grey
Green
Black
Blue
Black
Green
Green
Fuzz
Black
Black
Blue
Grey
Blue
Beige
Black
Grey
Green
Grey
Black
Gray
Grey
Green
Blue
Black
Black
Black
Green
Black
Blue
Grey
Gold
Blue
Blue
Starlight
Purple
Black
Blue
Beige
Blue
Teal
Silver
Black
Black
Dusk
Blue
Black
Teal
Black
Purple
Silver
Blue
Magenta
Green
Orange
Purple
Blue
Pink
Green
Black
White
Black
Black
Blue
Beige
White
White
White
Silver
Silver
Blue
Blue
Hour
Gray
Green
Black
Hour
Green
White
Starlight
Green
Black
Red
Blue
Silver
Black
Surge
Blue
Beige
Purple
Blue
Silver
White
Green
Purple
Grey
Yellow
Green
Blue
Blue
Oasis
Purple
Gray
Pink
Blue
Night
White
Red
Gold
Black
Green
White
Graphite
Blue
Beige
Black
Black
Gray
Silver
Gray
Green
Red
Sea
Blue
Red
Cream
Lagoon
Green
Gold
Grey
Gold
Olive
Purple
Blue
Beige
Coral
Sea
Snow
Lavender
Black
Beige
White
Graphite
Black
Black
Lavender
Grey
Purple
Blue
Navy
Gold
Silver
Black
White
Red
Black
Blue
Blue
Beige
White
Black
Black
Surge
Black
Blue
Gold
Red
Blue
Blue
Gray
Green
Midnight
Purple
Yellow
Black
Black
Blue
Orange
Mint
Lagoon
Lagoon
Yellow
Blue
Blue
Beige
Blue
Lime
Red
Black
Olive
Black
Gray
Blue
Graphite
Green
Green
Black
Cream
Black
Green
Silver
White
Gold
Silver
Yellow
White
Snow
Blue
Beige
Lemongrass
Obsidian
Midnight
Orange
Black
Violet
Black
Green
Violet
Black
Violet
Black
Beige
Cream
Gray
Blue
Black
Olive
Titanium
Black
Mint
Graphite
Gold
Black
Blue
Beige
Gold
Gold
Gray
Pink
Hazel
Blue
Teal
Rose
Beige
Blue
Hazel
Green
Blue
Blue
Matte
Beige
Black
Violet
Blue
Beige
Midnight
Silver
Gold
Obsidian
Black
Silver
Green
White
Titanium
White
Black
Gold
White
Matte
Black
Black
Graphite
Blue
Black
Blue
Blue
Purple
Blue
Beige
Silver
Blue
Green
Black
Titanium
Purple
Green
Gold
Lime
Graphite
Blue
Obsidian
Bay
Lime
Mint
Violet
Graphite
Pearl
Titanium
Green
Black
Black
Black
Blue
Beige
Obsidian
Green
Titanium
Black
Blue
Titanium
Black
Green
Black
Green
Magenta
Purple
Green
Blue
Black
Illusion
Blue
Snow
Green
Fantasy
Blue
Forest
Blue
Beige
Blue
Black
Green
Black
Purple
Aqua
Blue
Green
Blue
Lime
Titanium
Blue
Black
Black
Black
Blue
Blue
Blue
Blue
Cream
Black
Black
Blue
Titanium
Blue
Beige
Lavender
Obsidian
Blue
Blue
Green
Green
White
Titanium
Black
Black
Flame
Titanium
Grey
Black
Black
Blue
Hazel
Blue
Beige
Black
Blue
Black
Gold
Blue
Blue
Teal
Yellow
Black
Titanium
Blue
Black
Blue
Blue
Titanium
Black
Flame
Blue
Black
White
Blue
Beige
Titanium
Red
Green
Blue
Silver
Orange
White
Blue
Purple
Strom
Aqua
Violet
Starlight
Black
Black
Green
Viridian
Black
Forest
Blue
Black
Titanium
Blue
Beige
Green
Green
Black
Blue
Green
White
Gold
Midnight
Black
Shimmer
Green
Strom
Black
Black
Black
White
Blue
Blue
Blush
Titanium
Blue
Blue
Beige
Black
Night
orange
White
Black
Green
Illusion
Gold
Black
Black
Black
Yellow
Blue
Black
Blue
Blue
Green
Black
Green
Grey
Starlight
White
Blue
Beige
Grey
Yellow
Purple
Black
Blue
White
Violet
Gold
Midnight
Shimmer
Blue
Black
Green
Green
Blue
Blush
Fantasy

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       566 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      566 non-null    float64
 4   Ram         566 non-null    int32
 5   Screensize  565 non-null    float64
 6   Battery     566 non-null    int32
 7   Price       566 non-null    int32
dtypes: float64(3), int32(3), object(2)
memory usage: 33.2+ KB

In [90]:
df[df["Screensize"].isna()]

    Brand  Color  Storage  Rating  Ram  Screensize  Battery  Price
315  vivo  Black    128.0     4.4    8         NaN     4600  32999

In [91]:
df["Screensize"]=df["Screensize"].fillna(df["Screensize"].mode()[0])

C:\Users\g.pravalika\AppData\Local\Temp\ipykernel_22568\137325091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Screensize"]=df["Screensize"].fillna(df["Screensize"].mode()[0])

In [92]:
df[df["Screensize"].isna()]

Empty DataFrame
Columns: [Brand, Color, Storage, Rating, Ram, Screensize, Battery, Price]
Index: []

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 575
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Brand       566 non-null    object
 1   Color       566 non-null    object
 2   Storage     566 non-null    float64
 3   Rating      566 non-null    float64
 4   Ram         566 non-null    int32
 5   Screensize  566 non-null    float64
 6   Battery     566 non-null    int32
 7   Price       566 non-null    int32
dtypes: float64(3), int32(3), object(2)
memory usage: 33.2+ KB

In [94]:
df

        Brand    Color  Storage  Rating  Ram  Screensize  Battery   Price
0      realme     Blue    256.0     4.3    8        6.70     5000   26999
1      realme    Beige    256.0     4.3   12        6.70     5000   33999
2    Motorola    Black    128.0     4.2    8        6.50     5000   11999
3    Motorola    Green    128.0     4.2    8        6.50     5000   11999
4        vivo     Gold    128.0     4.3    8        6.58     5000   14999
..        ...      ...      ...     ...  ...         ...      ...     ...
571     REDMI    Green    128.0     4.2    6        6.58     5000   13870
572     Apple    Green    512.0     4.6    8        6.10     5000  102999
573     Apple     Blue    128.0     4.5    8        6.10     5000  109900
574   SAMSUNG    Blush    128.0     4.3    6        6.60     5000   18499
575     Tecno  Fantasy    256.0     4.4    8        6.78     5000   16949

[566 rows x 8 columns]

In [95]:
cleaneddata=df.to_csv("flipkart_cleaneddata.csv")